/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body {
  font-family: 'Proxima Nova', sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: #050505; }

header, section, footer {
  margin: auto; }

a {
  text-decoration: none; }
  a:focus {
    outline: none !important; }

a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, button {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

figure {
  margin: 0; }
  figure img {
    width: auto;
    max-width: 100%;
    vertical-align: top; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

p, a {
  color: #050505;
  margin: 0; }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.content-width {
  width: 1600px;
  margin: auto; }

h1 {
  margin: 0 0 30px; }

h2 {
  color: #050505;
  font-size: 80px;
  font-weight: 900;
  line-height: 90%;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 30px; }

h3 {
  margin: 0 0 30px; }

h4 {
  margin: 0 0 30px; }

h5 {
  margin: 0 0 10px; }

h6 {
  margin: 0 0 10px; }

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input, textarea, button {
  outline: none !important; }

.wpcf7 form .wpcf7-response-output {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1.2;
  background: #00a0d2; }

.wpcf7 form.sent .wpcf7-response-output {
  background: #46b450; }

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  background: #ffb900; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .bg .img-mob {
    display: none; }

.bg + * {
  position: relative;
  z-index: 2; }

/*--------------------------------HOME-PAGE---------------------------*/
header {
  position: relative;
  z-index: 99; }

.top-line {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 20px; }
  .top-line .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top-line .logo-wrap {
    width: 247px; }
    .top-line .logo-wrap img {
      width: 100%; }
  .top-line .soc-wrap {
    width: 247px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .top-line .soc-wrap ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      grid-gap: 8px; }
      .top-line .soc-wrap ul a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 50px;
        background: #050505;
        height: 42px;
        width: 42px;
        color: #fbfbfb;
        font-size: 20px; }
        .top-line .soc-wrap ul a:hover {
          color: #ff7900; }
  .top-line .top-menu {
    width: calc(100% - 500px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .top-line .top-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      grid-gap: 48px; }
      .top-line .top-menu ul li {
        position: relative; }
      .top-line .top-menu ul a {
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase; }
        .top-line .top-menu ul a:hover {
          color: #ff7900; }
      .top-line .top-menu ul .current-menu-item {
        position: relative; }
        .top-line .top-menu ul .current-menu-item a {
          position: relative;
          z-index: 10; }
        .top-line .top-menu ul .current-menu-item:after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          content: '';
          height: 1px;
          background: #050505; }
        .top-line .top-menu ul .current-menu-item:before {
          position: absolute;
          bottom: -40px;
          width: 50px;
          height: 50px;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          background: #fff;
          content: '';
          left: 50%;
          margin-left: -26px;
          -webkit-transition: all .4s ease;
          transition: all .4s ease; }

.top-line .logo-wrap img {
  width: 145px; }

.top-line .top-menu ul a {
  color: #050505; }

.home header {
  max-height: 0; }
.home .top-line {
  background: transparent;
  color: white;
  padding-top: 30px; }
.home .top-line .logo-wrap img {
  width: 100%; }
.home .top-line .top-menu ul a {
  color: #fff; }

.home-banner {
  position: relative;
  padding: 252px 0 35px; }
  .home-banner .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .home-banner .content {
    width: 700px;
    max-width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .home-banner .content ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      grid-gap: 13px;
      -webkit-transform: rotate(0.18deg);
              transform: rotate(0.18deg); }
      .home-banner .content ul li {
        padding: 9px 12px;
        border: 1px solid #fbfbfb;
        background: #050505;
        color: white;
        font-size: 24.12px;
        font-weight: 900;
        line-height: 29px;
        text-align: left;
        text-transform: uppercase; }
  .home-banner .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 158px; }
    .home-banner .bottom .left {
      width: 200px; }
      .home-banner .bottom .left p {
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 10px; }
    .home-banner .bottom .right {
      width: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .home-banner .bottom .center {
      width: calc(100% - 400px); }
      .home-banner .bottom .center p {
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: center; }
  .home-banner .wrap {
    width: 500px;
    max-width: 100%;
    margin-bottom: 4px; }
  .home-banner h3 {
    display: inline-block;
    margin: 0 0 0 40px;
    background: #050505;
    padding: 0 12px;
    color: white;
    font-size: 66.71px;
    font-weight: 900;
    line-height: 69px;
    text-align: left;
    text-transform: uppercase; }
  .home-banner h1 {
    color: white;
    font-size: 105px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: -2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .home-banner h1 span {
      display: inline-block;
      background: #050505;
      padding: 23px 33px; }
    .home-banner h1 span:first-child {
      margin-bottom: 10px;
      -webkit-transform: rotate(1.21deg);
              transform: rotate(1.21deg); }
    .home-banner h1 span:last-child {
      -webkit-transform: rotate(-1.18deg);
              transform: rotate(-1.18deg);
      font-size: 92px;
      position: relative;
      left: 8px; }

.btn-default {
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  background: #ff7900;
  height: 62px;
  line-height: 62px;
  text-align: center;
  padding: 0 31px;
  position: relative;
  color: #050505;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase; }
  .btn-default:after {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    content: '';
    background: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .btn-default span {
    display: inline-block;
    position: relative;
    z-index: 10; }
  .btn-default:hover:after {
    left: 0; }

.music {
  padding: 156px 0 151px; }
  .music .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 41px 24px; }
  .music .item {
    width: calc(25% - 18px); }
    .music .item figure {
      height: 433px;
      overflow: hidden;
      margin-bottom: 17px;
      border-radius: 3px; }
      .music .item figure img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .music .item figure a:hover img {
        -webkit-transform: scale(1.02);
                transform: scale(1.02); }
    .music .item .text h6 {
      margin-bottom: 2px; }
      .music .item .text h6 a {
        display: inline-block;
        color: #050505;
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        text-transform: uppercase; }
        .music .item .text h6 a:hover {
          color: #ff7900; }
    .music .item .text ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .music .item .text ul li {
        color: #050505;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px; }
      .music .item .text ul li + li {
        margin-left: 6px;
        padding-left: 6px;
        position: relative; }
        .music .item .text ul li + li:before {
          position: absolute;
          top: 2px;
          left: 0;
          bottom: 2px;
          content: '';
          width: 1px;
          background: #050505; }
  .music .item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0 77px; }
    .music .item-title h2 {
      margin-bottom: 10px; }
    .music .item-title .color {
      position: relative;
      top: -16px; }
  .music .item-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0 43px; }
    .music .item-btn h5 {
      color: #050505;
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 4px; }
    .music .item-btn p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      margin-bottom: 25px; }

.color {
  margin-bottom: 10px;
  color: #050505;
  font-size: 33px;
  font-weight: 900;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  background: #ff7900;
  padding: 9px 12px;
  -webkit-transform: rotate(-5.45deg);
          transform: rotate(-5.45deg);
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.btn-border {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 0 21px;
  border: 2px solid #050505;
  border-radius: 50px;
  height: 52px;
  line-height: 48px;
  color: #050505;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .btn-border:hover {
    background: #050505;
    color: #fff; }

.title-slider {
  padding: 156px 0 156px;
  overflow: hidden;
  background: #050505; }
  .title-slider .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .title-slider .title {
    padding-top: 112px;
    width: 500px;
    position: relative; }
    .title-slider .title > * {
      position: relative;
      z-index: 3; }
    .title-slider .title:after {
      position: absolute;
      top: -200px;
      bottom: -200px;
      content: '';
      right: 0;
      left: -10000px;
      background: #050505; }
  .title-slider .slider-wrap {
    width: calc(100% - 538px); }
  .title-slider h2 {
    color: #fbfbfb; }
  .title-slider .color {
    position: relative;
    top: -31px; }
  .title-slider .nav-wrap {
    margin-top: 27px; }

.festival-slider {
  overflow: visible; }
  .festival-slider .swiper-slide {
    width: 730px; }
    .festival-slider .swiper-slide figure {
      height: 433px;
      overflow: hidden;
      margin-bottom: 25px;
      border-radius: 3px; }
      .festival-slider .swiper-slide figure img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .festival-slider .swiper-slide figure a:hover img {
        -webkit-transform: scale(1.02);
                transform: scale(1.02); }
    .festival-slider .swiper-slide .text h6 {
      margin-bottom: 12px; }
      .festival-slider .swiper-slide .text h6 a {
        display: inline-block;
        color: #fbfbfb;
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        text-transform: uppercase; }
        .festival-slider .swiper-slide .text h6 a:hover {
          color: #ff7900; }
    .festival-slider .swiper-slide .text p {
      color: #fbfbfb;
      max-width: 91%; }

.nav-wrap {
  width: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .nav-wrap > div {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    left: 0;
    position: relative;
    right: 0;
    margin: 0;
    -webkit-transform: none;
            transform: none;
    background: whitesmoke;
    color: #050505;
    font-size: 16px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .nav-wrap > div:after {
      display: none; }
    .nav-wrap > div:hover {
      background: #ff7900; }
  .nav-wrap .swiper-button-prev {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }

.link-logo-block {
  background: whitesmoke;
  padding: 97px 0 97px; }
  .link-logo-block .link-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 93px;
    grid-gap: 24px; }
  .link-logo-block .item {
    overflow: hidden;
    border-radius: 8px;
    width: calc(33.33% - 16px); }
    .link-logo-block .item a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 155px; }
      .link-logo-block .item a:hover img {
        -webkit-transform: scale(1.02);
                transform: scale(1.02); }
    .link-logo-block .item .bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    .link-logo-block .item h3 {
      margin: 0;
      color: #fbfbfb;
      font-size: 40px;
      font-weight: 900;
      line-height: 90%;
      text-align: center;
      text-transform: uppercase; }
  .link-logo-block .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .link-logo-block .logo a {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }
    .link-logo-block .logo a:hover {
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }

.presenters {
  padding: 156px 0 149px;
  overflow: hidden; }
  .presenters .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .presenters .title {
    padding-top: 112px;
    width: 400px;
    position: relative; }
    .presenters .title > * {
      position: relative;
      z-index: 3; }
    .presenters .title:after {
      position: absolute;
      top: -200px;
      bottom: -200px;
      content: '';
      right: 0;
      left: -10000px;
      background: #fff;
      z-index: 2; }
  .presenters .slider-wrap {
    width: calc(100% - 407px); }
  .presenters .color {
    position: relative;
    top: -31px; }

.presenters-slider {
  overflow: visible; }
  .presenters-slider .swiper-slide {
    width: 382px; }
    .presenters-slider .swiper-slide figure {
      height: 433px;
      overflow: hidden;
      margin-bottom: 18px;
      border-radius: 3px; }
      .presenters-slider .swiper-slide figure img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .presenters-slider .swiper-slide figure a:hover img {
        -webkit-transform: scale(1.02);
                transform: scale(1.02); }
    .presenters-slider .swiper-slide .text h6 {
      margin-bottom: -1px; }
      .presenters-slider .swiper-slide .text h6 a {
        display: inline-block;
        color: #050505;
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        text-transform: uppercase; }
        .presenters-slider .swiper-slide .text h6 a:hover {
          color: #ff7900; }
    .presenters-slider .swiper-slide .text p {
      color: #050505; }

.iframe-block > img {
  width: 100%;
  height: auto;
  vertical-align: top; }

footer {
  background: #050505;
  padding: 62px 0 50px; }
  footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
    border-top: 1px solid #fbfbfb; }
  footer .left {
    width: 200px; }
  footer .right {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    footer .right ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      grid-gap: 8px; }
      footer .right ul a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 50px;
        font-size: 20px;
        line-height: 1;
        height: 42px;
        width: 42px;
        color: #fbfbfb; }
        footer .right ul a:hover {
          color: #ff7900; }
  footer .center {
    width: calc(100% - 400px); }
    footer .center ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      grid-gap: 33px; }
      footer .center ul a {
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        display: inline-block;
        text-align: left;
        position: relative; }
        footer .center ul a:after {
          position: absolute;
          bottom: -2px;
          left: 0;
          content: "";
          height: 1px;
          background: #fbfbfb;
          width: 100%;
          -webkit-transition: all .4s ease;
          transition: all .4s ease;
          -webkit-transform-origin: left;
                  transform-origin: left; }
        footer .center ul a:hover:after {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0); }
  footer p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-align: left; }

.link-logo-block .logo-wrap {
  grid-gap: 20px; }

.open-menu {
  display: none; }

/*-------------------------------END-HOME-PAGE---------------------------*/
/*------------------------------TICKETS-PAGE---------------------------*/
.ticket-banner {
  position: relative;
  padding: 189px 0 58px; }
  .ticket-banner .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .ticket-banner h1 {
    margin-bottom: 20px; }
  .ticket-banner .color {
    margin-bottom: -5px; }
  .ticket-banner .link-wrap {
    margin-top: 110px; }
    .ticket-banner .link-wrap a {
      color: #fbfbfb;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      text-align: left;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline; }
      .ticket-banner .link-wrap a:hover {
        color: #ff7900; }

h1 {
  color: #fbfbfb;
  font-size: 80px;
  font-weight: 900;
  line-height: 90%;
  text-align: left;
  text-transform: uppercase; }

.item-3x {
  padding: 119px 0 121px;
  background: #050505; }
  .item-3x .title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 59px; }
  .item-3x .text-wrap {
    width: 49%;
    padding-top: 5px; }
    .item-3x .text-wrap p {
      color: #fbfbfb; }
  .item-3x .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 40px 32px; }
  .item-3x .item {
    width: calc(33.33% - 22px); }
  .item-3x figure {
    height: 433px;
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 3px; }
    .item-3x figure img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    .item-3x figure a:hover img {
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
  .item-3x .text h6 {
    margin-bottom: 12px; }
    .item-3x .text h6 a {
      display: inline-block;
      color: #fbfbfb;
      font-size: 26px;
      font-weight: 700;
      line-height: 32px;
      text-align: left;
      text-transform: uppercase; }
      .item-3x .text h6 a:hover {
        color: #ff7900; }
  .item-3x .text p {
    color: #fbfbfb;
    max-width: 91%; }
  .item-3x .title {
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 0; }

.title-iframe {
  padding: 119px 0 121px;
  background: whitesmoke; }
  .title-iframe .title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 59px; }
  .title-iframe .text-wrap {
    width: 49%;
    padding-top: 5px; }
    .title-iframe .text-wrap p {
      color: #050505; }
  .title-iframe .title {
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    text-transform: uppercase;
    color: #050505;
    margin-bottom: 0; }
  .title-iframe .content {
    background: white;
    min-height: 50px; }

.bg-white {
  background: #fff; }

.item-3x .title {
  width: 435px; }

/*-----------------------------END-TICKETS-PAGE---------------------------*/
/*-----------------------------FAQ-PAGE---------------------------*/
.faq-banner {
  height: 474px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 84px; }
  .faq-banner h1 {
    margin: 0;
    color: #fbfbfb; }

.faq {
  padding: 120px 0 114px;
  background: whitesmoke; }
  .faq .title {
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    text-transform: uppercase;
    color: #050505;
    margin-bottom: 56px; }

.accordion-item {
  background: #fff;
  margin-bottom: 12px; }

.accordion-thumb {
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px 80px 10px 30px;
  cursor: pointer; }
  .accordion-thumb:after {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    right: 32px;
    margin-top: -21px;
    content: '';
    background: url("../img/icon-1.svg") no-repeat center;
    background-size: contain;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .accordion-thumb p {
    color: #050505;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 !important; }

.is-active .accordion-thumb:after {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.accordion-panel {
  display: none; }
  .accordion-panel .wrap {
    padding: 20px 30px; }
    .accordion-panel .wrap p {
      color: #050505;
      margin-bottom: 15px; }
    .accordion-panel .wrap p:last-child {
      margin-bottom: 0; }

/*----------------------------END-FAQ-PAGE---------------------------*/
/*----------------------------SPONSOR-PAGE---------------------------*/
.form-block {
  padding: 128px 0 120px;
  background: whitesmoke; }
  .form-block .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form-block .title {
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    text-transform: uppercase;
    color: #050505;
    margin-bottom: 30px; }
  .form-block .text {
    width: 40%; }
  .form-block .form-wrap {
    width: 49.2%; }

.default-form {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  background: white;
  padding: 24px; }
  .default-form label {
    display: block;
    margin-bottom: 6px;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; }
  .default-form .input-wrap {
    width: 100%;
    margin-bottom: 25px; }
  .default-form input {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background: white;
    height: 40px;
    line-height: 38px;
    padding: 0 15px;
    font-size: 16px; }
  .default-form textarea {
    width: 100%;
    resize: none;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background: white;
    height: 80px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.25; }
  .default-form .input-wrap-submit {
    width: 100%; }
    .default-form .input-wrap-submit button {
      width: 100%;
      border: none;
      height: 68px;
      line-height: 68px; }
      .default-form .input-wrap-submit button:after {
        background: #050505; }
      .default-form .input-wrap-submit button:hover span {
        color: #fff; }

.top-line .top-menu ul a:hover {
  color: #ff7900; }

/*---------------------------END-SPONSOR-PAGE---------------------------*/

/*# sourceMappingURL=styles.css.map */