$accent: rgb(5, 5, 5);
$white: rgb(251, 251, 251);
$orange: rgb(255, 121, 0);

@media (max-width: 1700px){
  .content-width{
    width: 1350px;
  }
  .default-form .input-wrap-submit button{
    height: 60px;
    line-height: 60px;
  }
  .top-line .logo-wrap, .top-line .soc-wrap{
    width: 200px;
  }
  .home-banner h3{
    font-size: 50px;
    line-height: 1;
  }
  .home-banner h1{
    font-size: 80px;
  }
  .home-banner h1 span:last-child{
    font-size: 70px;
  }
  h1{
    font-size: 70px;
  }
  .home-banner h1 span{
    padding: 15px 25px;
  }

  .home-banner .content ul li{
    font-size: 20px;
    padding: 5px 10px;
  }
  .home-banner {
    padding: 150px 0 35px;
  }
  .btn-default{
    height: 54px;
    font-size: 18px;
    line-height: 54px;
  }
  .home-banner .bottom .center p{
    font-size: 18px;
  }
  .home-banner .bottom .left p{
    font-size: 18px;
  }
  .home-banner .bottom .left .logo{
    width: 150px;
    img{
      width: 100%;
    }
  }
  h2{
    font-size: 64px;
  }
  .color{
    font-size: 28px;
    padding: 5px 10px;
  }
  .music .item figure, .festival-slider .swiper-slide figure, .presenters-slider .swiper-slide figure, .item-3x figure{
    height: 380px;
  }
  .music .item .text h6 a, .item-3x .text h6 a{
    font-size: 22px;
  }
  .music .item-btn h5{
    font-size: 20px;
  }
  .festival-slider .swiper-slide .text h6 a, .presenters-slider .swiper-slide .text h6 a{
    font-size: 22px;
  }
  .festival-slider .swiper-slide{
    width: 650px;
  }
  .link-logo-block .item h3{
    font-size: 34px;
  }
  .presenters-slider .swiper-slide{
    width: 350px;
  }
  .home-banner .wrap{
    width: 400px;
  }
  .item-3x .title, .title-iframe .title, .faq .title, .form-block .title{
    font-size: 36px;
    line-height: 1.3;
  }
}

@media (max-width: 1400px){
  .content-width{
    width: 1200px;
  }
  .music .item {
    width: calc(33% - 13px);
  }
  .top-line .soc-wrap ul{
    display: none;
  }
}
@media (max-width: 1280px){
  .content-width{
    width: 1100px;
  }
}
@media (max-width:1199px) {
  .content-width{
    width: 960px;
  }
  .top-line .top-menu{
    display: none;
  }
  .open-menu{
    margin:0;
    display: inline-block;
    a{
      display: flex;
      flex-direction: column;
      width: 42px;
      height: 42px;
      padding: 8px;
      background: $accent;
      border-radius: 100%;
      justify-content: center;
      align-items: center;
      span{
        display: block;
        width: 100%;
        height: 2px;
        background: $white;
      }
      span + span{
        margin-top: 6px;
      }
    }
  }
  .menu-responsive {
    width: 100%;
    background: transparent;
    background-size: cover;
    padding: 0;
    overflow: hidden auto;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    right: -100vw;
    top: 0;
    transition: all .4s ease;
    &:after {
      content: "";
      display: table;
      clear: both;}
    .wrap{
      padding: 33px 30px 100px;
      width: 320px;
      float: right;
      background: #fff;
      min-height: 100vh;
    }


    .close-menu{
      position: absolute;
      top: 20px;
      right: 20px;
      width: 35px;
      height: 35px;
      i{
        font-size: 24px;
        line-height: 1;
        color: #000;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 5px;
      }
    }
    .fancybox-close-small{
      display: none;
    }
    .mob-menu-wrap{
      margin-bottom: 25px;
      &>ul{

        display: block;
        &>li{
          margin-bottom: 10px;
          text-align:left;
          &>a{
            color: $accent;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .sub-item{
          &>a{
            position: relative;
            padding-right: 25px;
            &:after{
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
              content: '';
              display: block;
              height: 7px;
              margin-top: -4px;
              pointer-events: none;
              position: absolute;
              right: 12px;
              top: 10px;
              -webkit-transform-origin: 66% 66%;
              transform-origin: 66% 66%;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              -webkit-transition: all 0.15s ease-in-out;
              transition: all 0.15s ease-in-out;
              width: 7px;
            }
          }
          .is-open{
            &:after{
              transform: rotate(-135deg);
            }
          }
        }

        li:last-child{
          margin-bottom: 0;
        }
        .sub-menu{
          display: none;
          padding: 20px;

          li{
            margin-bottom: 5px;
            &>a{
              color: $accent;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }

        }
      }
    }
    .soc-wrap{
      margin-top: 30px;
      ul{
        display: flex;
        grid-gap: 8px;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          background: rgb(5, 5, 5);
          height: 42px;
          width: 42px;
          color: $white;
          font-size: 20px;
          &:hover{
            color: $orange;
          }
        }
      }
    }
    .logo-wrap{
      width: 150px;
      margin:0 0 40px;
      img{
        vertical-align: top;
        width: 100%;
      }
    }
  }
  .is-menu .menu-responsive{
    right: 0;
  }
  .home-banner .bottom .center p{
    font-size: 16px;
  }
  h2{
    font-size: 40px;
  }
  .color{
    font-size: 24px;
  }
  .title-slider .title{
    width: 300px;
  }
  .title-slider .slider-wrap {
    width: calc(100% - 330px);
  }
  .link-logo-block .logo a{
    height: 40px;
    img{
      max-height: 100%;
    }
  }
  .presenters .title{
    width: 300px;
  }
  .presenters .slider-wrap {
    width: calc(100% - 330px);
  }
  .item-3x figure{
    height: 300px;
  }
  .top-line{
    padding: 15px 0;
  }
  h1{
    font-size: 50px;
  }
}

@media (max-width:991px) {
  .content-width{
    width: 720px;
  }
  .presenters .slider-wrap{
    width: 100%;
  }
  .home-banner h3{
    font-size: 36px;
    padding: 3px 7px;
  }
  .home-banner h1 {
    font-size: 60px;
  }
  .home-banner h1 span:last-child {
    font-size: 50px;
  }
  .home-banner h1 span{
    padding: 10px 15px;
  }
  .home-banner .wrap {
    width: 300px;
  }
  .music .item {
    width: calc(50% - 10px);
  }
  .music .content{
    grid-gap: 30px 20px;
  }
  .title-slider .title{
    padding: 0;
    margin-bottom: 30px;
  }
  .title-slider .slider-wrap{
    width: 100%;
  }
  .music, .item-3x, .title-iframe, .faq{
    padding: 60px 0;
  }
  .title-slider{
    padding: 60px 0;
  }
  .link-logo-block .item a{
    height: 100px;
  }
  .link-logo-block .item h3{
    font-size: 28px;
  }
  .link-logo-block{
    padding: 60px 0;
  }
  .link-logo-block .logo-wrap{
    justify-content: center;
    margin-bottom: 40px;
  }
  .presenters{
    padding: 60px 0;
  }
  .presenters .title{
    padding: 0;
    margin-bottom: 30px;
  }
  .presenters .title{
    width: 100%;
  }
  .presenters .title:after{
    display: none;
  }
  .item-3x .content{
    grid-gap: 20px;
  }
  .item-3x .item{
    width: calc(50% - 10px);
  }
  .item-3x .text-wrap, .title-iframe .text-wrap{
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .form-block .text{
    width: 100%;
    margin-bottom: 30px;
  }
  .form-block .form-wrap{
    width: 100%;
  }
}

@media (max-width:767px) {
  .content-width{
    width: 540px;
  }
  .home-banner .bottom .center{
    width: 100%;
    margin-bottom: 15px;
    order: 1;
  }
  .home-banner .bottom .left{
    order: 2;
  }
  .home-banner .bottom .right{
    order: 3;
  }
  .music .item figure, .festival-slider .swiper-slide figure, .presenters-slider .swiper-slide figure, .item-3x figure {
    height: 300px;
  }
  .festival-slider .swiper-slide {
    width: 500px;
  }
  footer .left{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  footer .center{
    width: 100%;
    margin-bottom: 20px;
  }
  footer .right{
    width: 100%;
    justify-content: center;
    ul{
      justify-content: center;
    }
  }
  footer p{
    text-align: center;
  }
  .link-logo-block .logo-wrap{
    margin-bottom: 0;
  }
}

@media (max-width:575px) {
  .content-width{
    width: 100%;
    padding: 0 10px;
  }
  .home-banner .content ul{
    flex-direction: column;
    align-items: center;
    li{
      width: fit-content;
    }
  }
  .home-banner .bottom{
    margin-top: 100px;
    justify-content: center;
  }
  .music .item{
    width: 100%;
  }
  .home-banner .bottom .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .home-banner .bottom .right{
    justify-content: center;
  }
  .music .item-title{
    padding: 0;
  }
  .festival-slider .swiper-slide {
    width: 350px;
  }
  .link-logo-block .link-wrap{
    margin-bottom: 50px;
    grid-gap: 20px;
    justify-content: center;
  }
  .link-logo-block .item{
    width: calc(50% - 10px);
  }
  .link-logo-block .item h3 {
    font-size: 26px;
  }
  .presenters-slider .swiper-slide {
    width: 300px;
  }
  .item-3x .title, .title-iframe .title, .faq .title, .form-block .title{
    font-size: 30px;
  }
  h1{
    font-size: 40px;
  }
  .item-3x .item{
    width: 100%;
  }
  .ticket-banner .color {
    margin-bottom: 0;
  }
  .faq .title{
    margin-bottom: 30px;
  }
  .accordion-thumb:after{
    right: 15px;
  }
  .accordion-thumb {
    padding: 10px 65px 10px 15px;
  }
  .accordion-panel .wrap{
    padding: 15px;
  }
  .default-form .input-wrap-submit button{
    height: 50px;
    line-height: 50px;
  }
}